/*  .container {
  background-color: rgba(255, 255, 255, 0.5);
} */


/* #news - ID-ul de la thumbnail Latest News */

#news {
/*    background-color: #7c7676;*/
    padding: 2px;
    padding-top: 0px;
}

body,
td,
th {
    font-family: Belgrano, Robot;
    color: #FBFBFB;
    font-size: 18px;
}

body {
    background-image: url(../img/cover1920blur.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Belgrano;
}

a:hover {
    color: white;
}

a {
    color: #767fe0;
}

.jumbotron {
  background-color: transparent;
  text-align: center center;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  align-items: center;
  display: flex;
  position: relative;
}

.carousel-inner > .item > img {
    width: 50%;
    height: 50%;
}

.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}


/* CSS Navigation Bar */

.clearfix:after {
    display: block;
    transition: all linear 0.15s;
    clear: both;
}

.menu-wrap {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    height: auto;
}

.menu-wrap a {
    text-decoration: none;
}

.menu {
    margin: 0px auto;
}

.menu li {
    margin: 0px;
    list-style: none;
}

.menu a {
    transition: all linear 0.20s;
}

.menu li:hover > a,
.menu .current-item > a {
    text-decoration: none;
}

.menu .arrow {
    font-size: 10px;
    line-height: 0%;
}

.menu > ul > li {
    display: inline-block;
    position: relative;
    font-size: 23px;
    padding: 0px;
}

.menu > ul > li > a {
    padding: 3px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}

.sub-menu {
    width: 130%;
    padding: 4px;
    position: absolute;
    top: 90%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.20s;
}

.menu li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

.sub-menu li {
    display: block;
    font-size: 20px;
}

.sub-menu li a {
    padding: 7px;
    display: block;
    font-weight: bold;
}
/* End of navigation bar */

/* LOGO */
.logo {
    position: relative;
    top: 0px;
    bottom: 0px;
    text-align: center;
}
/* end LOGO */
/* social */
#social li{
	list-style-type:none;
	display:inline;
  margin: 0px;
}
/* end of social */
/*Beginning of slide gallery settings*/
.carousel-inner {
    width: 1113px;
    height: 400px;
}
/* end of slide gallery */

/* news format */
.news {
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
}
/* end of news format */

/* tour format */
table, th, td {
    border: 1px solid black;
    background-color: grey;
}
/* end of tour format */

/* videos format */
.youtube {
  text-align: center;
}
/* end of videos format */

/*photos format */
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/* end of photos format */

/* footer */
#copyright{
	padding-top: 10px;
	font-size: 17px;
}

#footer li {
  list-style-type:none;
	text-align:center;
}
/* end of footer */
